<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<div class="min-h-screen w-full flex flex-col lg:flex-row items-start justify-start p-6 md:p-10 gap-8">

  <div class="w-full lg:w-[18rem] flex-shrink-0  bg-white rounded-[2.5rem] shadow-xl border border-slate-100 p-6 flex flex-col gap-8">
    <div class="flex flex-col gap-2 ">
      <h2 class="text-3xl font-black text-slate-800 tracking-tighter">Bank Portal</h2>
      <p class="text-blue-600 text-[10px] font-black uppercase tracking-[0.2em]">Secure Access Unit</p>
    </div>

    <form [formGroup]="bankForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-6">
      <div class="relative flex items-center group">
        <span class="material-symbols-outlined absolute p-4 text-slate-400 group-focus-within:text-blue-600">account_balance</span>
        <input formControlName="ifscCode" type="text" placeholder="IFSC CODE"
          class="w-full p-4 pl-12 bg-slate-50 border-2 border-dashed border-slate-200 rounded-2xl outline-none focus:border-solid focus:border-blue-500 uppercase font-bold tracking-widest" />
      </div>
      @if (bankForm.get('ifscCode')?.errors?.['required'] && bankForm.get('ifscCode')?.touched) {
          <span class="p-1 text-red-500 text-[0.7rem] font-black uppercase tracking-widest italic">IFSC Required *</span>
        }

      <button type="submit" class="p-3 max-w-[16rem]  bg-slate-900 hover:bg-blue-600 text-white rounded-2xl font-black flex items-center justify-center gap-3 transition-all active:scale-95 shadow-lg group">
        <span class="material-symbols-outlined group-hover:rotate-12 transition-transform">search</span>
        <span class="tracking-widest uppercase text-sm">Search Records</span>
      </button>
    </form>
  </div>

 @if (bankData) {
  <div
    class="flex-1 max-w-[50rem] max-h-[40rem] bg-white rounded-[3rem] shadow-2xl border-2 border-blue-50 p-6 flex flex-col gap-10 animate-in fade-in slide-in-from-right duration-500"
  >
    
    <div class="flex items-center gap-6 border-b border-slate-100 pb-2">
      <div class="px-2.5 py-2 bg-blue-600 rounded-3xl text-white shadow-xl shadow-blue-100">
        <span class="material-symbols-outlined text-4xl">database</span>
      </div>
      <div class="flex flex-col">
        <h3 class="text-3xl font-black text-slate-800 tracking-tighter uppercase italic">
          Information Found
        </h3>
        <p class="text-emerald-500 text-[0.7rem] font-bold tracking-[0.3em]">
          ● STATUS: DATA_RETRIEVED_SUCCESSFULLY
        </p>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-6">
      
      <div class="p-4 bg-slate-50 rounded-[2.5rem] border border-slate-100 flex flex-col gap-4 hover:border-blue-300 hover:bg-white transition-all group">
        <span class="material-symbols-outlined text-blue-500 text-4xl group-hover:scale-110 transition-transform">account_balance</span>
        <div class="flex flex-col">
          <span class="text-[10px] text-slate-400 font-black uppercase tracking-widest pb-1">Institution</span>
          <span class="text-slate-800 font-bold text-md leading-tight">{{ bankData.BANK }}</span>
        </div>
      </div>

      <div class="p-4 bg-slate-50 rounded-[2.5rem] border border-slate-100 flex flex-col gap-4 hover:border-indigo-300 hover:bg-white transition-all group">
        <span class="material-symbols-outlined text-indigo-500 text-4xl group-hover:scale-110 transition-transform">share_location</span>
        <div class="flex flex-col">
          <span class="text-[10px] text-slate-400 font-black uppercase tracking-widest pb-1">Branch Name</span>
          <span class="text-slate-800 font-bold leading-tight">{{ bankData.BRANCH }}</span>
        </div>
      </div>

      <div class="p-4 bg-slate-50 rounded-[2.5rem] border border-slate-100 flex flex-col gap-4 hover:border-purple-300 hover:bg-white transition-all group">
        <span class="material-symbols-outlined text-purple-500 text-4xl group-hover:scale-110 transition-transform">vpn_key</span>
        <div class="flex flex-col">
          <span class="text-[10px] text-slate-400 font-black uppercase tracking-widest pb-1">IFSC Code</span>
          <span class="text-slate-800 font-mono font-black  tracking-tighter">{{ bankData.IFSC }}</span>
        </div>
      </div>

      <div class="p-4 bg-slate-50 rounded-[2.5rem] border border-slate-100 flex flex-col gap-4 hover:border-emerald-300 hover:bg-white transition-all group">
        <span class="material-symbols-outlined text-emerald-500 text-4xl group-hover:scale-110 transition-transform">map</span>
        <div class="flex flex-col">
          <span class="text-[10px] text-slate-400 font-black uppercase tracking-widest pb-1">Location</span>
          <span class="text-slate-800 font-bold  leading-tight">{{ bankData.CITY }}, {{ bankData.STATE }}</span>
        </div>
      </div>

      <div class="md:col-span-2 max-w-[40rem] xl:col-span-4 py-5 px-10 bg-slate-50  rounded-[3rem] flex items-center gap-5 shadow-2xl shadow-slate-200 group">
        <div class="p-6 bg-slate-300 rounded-2xl text-blue-400 group-hover:bg-blue-600 group-hover:text-white transition-all duration-500">
          <span class="material-symbols-outlined text-5xl">location_on</span>
        </div>
        <div class="flex flex-col gap-2">
          <span class="text-xs text-slate-400 font-black uppercase tracking-[0.4em]">
            Official Registry Address
          </span>
          <span class="text-slate-800 font-medium leading-relaxed opacity-90">
            {{ bankData.ADDRESS }}
          </span>
        </div>
      </div>

    </div>
  </div>
}

</div>